.Dash {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
}

.homecontainer {
    flex: 7;
    font-size: .5rem;
}

.widgets {
    display: flex;
    padding: 1rem;
    gap: 1rem;
}

.charts {
    display: flex;
    padding: 2rem;
    gap: 3rem;
}

@media screen and (max-width:1200px) {
    .Dash {
        justify-content: flex-start;
    }
    .widgets {
        flex-direction: column;
        width: 60%;
        padding: 2rem;
        margin-left: 6rem;
    }
    .charts {
        flex-direction: column;
    }
}